In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re # regex
import itertools # concatenate lists in a list
from itertools import combinations # generating tuples from a list
import networkx as nx # graphs
import matplotlib.pyplot as plt # plotting graph
from collections import Counter

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Import songs data 
songs1 = pd.read_csv("/content/drive/MyDrive/2021_Magistere/data_recent.csv").set_index('id')
songs2 = pd.read_csv("/content/drive/MyDrive/2021_Magistere/songs.csv").set_index('id')

# Convert artists column from str to list 
def collab_to_list(artists):
    return([x.strip() for x in re.sub('[\[\]\']', ' ', artists).split(',')])

# Keep collaborations of less than 10 artists
def boolean_collab(artist):
    return len(artist) > 1 and len(artist) < 10
    
def the_data(songs):
    # Keep 2000-2020 songs only
    songs = songs[songs['year'] >= 2000]
    # Drop columns and rows we are not interested in
    songs.drop(['mode', 'key'], axis=1, inplace=True)
    songs = songs.drop_duplicates(subset=['name'], keep="last")
    songs['artists'] = songs['artists'].apply(collab_to_list)
    songs = songs[songs['artists'].apply(boolean_collab)]
    return songs

songs = songs1.merge(songs2, how="outer")
songs = the_data(songs)
songs

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        valence  year  acousticness  ... release_date  speechiness    tempo
15701     0.967  2000       0.16000  ...   2000-01-01       0.2070  140.095
15745     0.892  2000       0.00919  ...   2000-06-13       0.1080  136.019
15815     0.691  2000       0.02490  ...         2000       0.3360   83.840
15841     0.731  2000       0.11800  ...   2000-01-01       0.1620  124.303
15859     0.231  2000       0.95100  ...   2000-12-05       0.0454   52.946
...         ...   ...           ...  ...          ...          ...      ...
278740    0.351  2020       0.02270  ...   2020-04-29       0.1570   86.036
278741    0.306  2020       0.17300  ...   2020-05-15       0.1430  100.012
278742    0.270  2020       0.01670  ...   2020-06-08       0.0403  128.000
278743    0.153  2020       0.53800  ...   2020-05-29       0.1050  123.700
278744    0.472  2020       0.07140  ...   2020-02-28       0.0385  129.916

[8543 rows x 16 columns]

In [5]:
# Import artists data 
artists1 = pd.read_csv("/content/drive/MyDrive/2021_Magistere/data_w_genres.csv")
artists2 = pd.read_csv("/content/drive/MyDrive/2021_Magistere/data_w_genres_recent.csv")
# Get first words in artists genres
def the_genre(genres):
    if len(genres) == 1:
        return genres[0]
    if re.search("band", genres[0]) is not None: # for a boy band : ["boy band", "dance pop", ...]
        return genres[1]
    else:
        return genres[0]
    
def filter_genre(str_genre):
    return (re.search("pop", str_genre) is not None) or (re.search("hip hop", str_genre) is not None) or (re.search("latin", str_genre) is not None)

def the_artists(artists):
    # Drop artists where genre is unknown
    artists = artists[artists['genres']!= '[]']
    artists['new_genre'] = artists['genres'].apply(collab_to_list)
    artists['new_genre'] = artists['new_genre'].apply(the_genre)
    # Keep hip hop, pop or latin artists
    artists = artists[artists["new_genre"].apply(filter_genre)]
    return artists
artists = pd.merge(artists1, artists2, how="outer")
artists = artists.drop_duplicates(subset=['artists'], keep="last")
artists = the_artists(artists)
artists

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                artists  ...             new_genre
27                    -  ...  alternative pop rock
41                11:11  ...           atl hip hop
115             4Minute  ...                 k-pop
154                   A  ...             dance pop
157    A Change of Pace  ...         neon pop punk
...                 ...  ...                   ...
54772                鄭怡  ...                 c-pop
54777               陳麗斯  ...      classic cantopop
54783               鳳飛飛  ...                 c-pop
54786               黃品源  ...                 c-pop
54789               조정현  ...    classic korean pop

[4270 rows x 17 columns]

In [6]:
# Computing edges
def get_tuples(collab): # for a list of elements, return the list of possible pairs
    return list(combinations(collab, 2))
edges = list(itertools.chain.from_iterable(songs['artists'].apply(get_tuples))) # append pairs
# Keep edges where both artists are in artists table
edges = [(a1,a2) for (a1,a2) in edges if a1 in list(artists['artists']) and 
         a2 in list(artists['artists'])] 
edges = list(dict(Counter(edges)).keys()) # unique
edges = [(a1, a2) for (a1, a2) in edges if (a2, a1) not in edges]
edges[:10]

[('Fat Joe', 'Ja Rule'),
 ('Fat Joe', 'Ashanti'),
 ('Ja Rule', 'Ashanti'),
 ('Christina Aguilera', 'Mýa'),
 ('Christina Aguilera', 'P!nk'),
 ('Mýa', 'P!nk'),
 ('Diddy', 'Black Rob'),
 ('Jermaine Dupri', 'Ludacris'),
 ('Christina Aguilera', 'Redman'),
 ('Sean Paul', 'Sasha')]

In [7]:
# For each artist, list of artists he/she collaborated with
def list_artists_collab(artist):
    return [a for a in set(list(itertools.chain.from_iterable(
        [t for t in [list(t) for t in edges] if artist in t]))) if a!=artist]
artists['list_artists_collab'] = artists['artists'].apply(list_artists_collab)
# For each artist, number of collaborations with different artists
def nb_artists_collab(liste):
    return len(liste)
artists['nb_artists_collab'] = artists['list_artists_collab'].apply(nb_artists_collab)
# Keep artists who collaborated at least once, in artists database
artists = artists[artists['nb_artists_collab'] > 0]
# For each artist, percentage of collaborations = nb collaborations / nb songs
#artists['percent_collab'] = round((artists['nb_artists_collab']/artists['count'])*100, 2)
def apply_perc(perc):
    if perc > 100:
        return 100
    return perc
#artists['percent_collab'] = artists['percent_collab'].apply(apply_perc)
artists

              artists  ...  nb_artists_collab
382              Adje  ...                  2
830             Alida  ...                  1
850         Alkilados  ...                  3
1066     Andreas Moss  ...                  1
1568   Arrow Benjamin  ...                  1
...               ...  ...                ...
54458       will.i.am  ...                  8
54478            Ñejo  ...                  3
54479  Ñejo & Dalmata  ...                  2
54480      Ñengo Flow  ...                  3
54684         オメガトライブ  ...                  1

[1254 rows x 19 columns]

In [8]:
# For artist A and artist B, list and number of collabs in common
def boolean_artist(artistA, artistB, collab):
    return artistA in collab and artistB in collab
def boolean_artist_all(artistA, artistB):
    return [boolean_artist(artistA, artistB, collab) for collab in list(songs['artists'])]
def list_collabs(artistA, artistB):
    list_collabs = []
    for song, b in zip(list(songs['name']), boolean_artist_all(artistA, artistB)):
        if b == True:
            list_collabs.append(song)
    return list_collabs
list_collabs_all = [list_collabs(artistA, artistB) for (artistA, artistB) in edges]
nb_collab = [len(c) for c in list_collabs_all]

In [9]:
# Edges dataframe
edges_df = pd.DataFrame({'from' : [a1 for (a1,a2) in edges], 
                         'to' : [a2 for (a1,a2) in edges],
                        'liste_collabs' : list_collabs_all,
                        'nb_collab' : nb_collab})
edges_df = edges_df.sort_values("nb_collab")
edges_df.index = range(len(edges_df.index))
edges_df

               from  ... nb_collab
0           Fat Joe  ...         1
1            Grimes  ...         1
2       Killer Mike  ...         1
3       Killer Mike  ...         1
4             Bun B  ...         1
...             ...  ...       ...
2881  Maite Perroni  ...        24
2882            RBD  ...        24
2883            RBD  ...        24
2884            RBD  ...        24
2885    Dulce María  ...        24

[2886 rows x 4 columns]

In [10]:
# Nodes dataframe
nodes = list(artists['artists'])
nodes_df = pd.DataFrame({'artist' : nodes,
                        'genre' : list(artists['new_genre']),
                        'genres' : list(artists['genres']),
                        'artists_collab' : list(artists['list_artists_collab']),
                        'degree' : list(artists['nb_artists_collab'])})
nodes_df['sous_genre'] = nodes_df['genre'].copy()

# Definition of genre column
def is_pop(str_genre):
    return re.search("pop", str_genre) is not None
nodes_df.loc[nodes_df["genre"].apply(is_pop), "genre"] = "pop"
def is_hip_hop(str_genre):
    return re.search("hip hop", str_genre) is not None
nodes_df.loc[nodes_df["genre"].apply(is_hip_hop), "genre"] = "hip hop"
def is_latin(str_genre):
    return re.search("latin", str_genre) is not None
nodes_df.loc[nodes_df["genre"].apply(is_latin), "genre"] = "latin"

# Definition of sous_genre column
def is_not_dance_pop(str_sous_genre):
    return re.search("pop", str_sous_genre) is not None and str_sous_genre != "dance pop"
nodes_df.loc[nodes_df["sous_genre"].apply(is_not_dance_pop), "sous_genre"] = "pop"
def is_hip_hop2(str_sous_genre):
    return re.search("hip hop", str_sous_genre) is not None and re.search("atl hip hop", str_sous_genre) is None and re.search("alternative hip hop", str_sous_genre) is None
nodes_df.loc[nodes_df["sous_genre"].apply(is_hip_hop2), "sous_genre"] = "hip hop"
def is_reggaeton(list_genre):
    return "reggaeton" in list_genre and re.search("latin", the_genre(list_genre)) is not None and the_genre(list_genre)!="latin hip hop"
nodes_df.loc[nodes_df["sous_genre"].apply(is_latin), "sous_genre"] = "latin"
nodes_df['genres'] = nodes_df['genres'].apply(collab_to_list)
nodes_df.loc[nodes_df["genres"].apply(is_reggaeton), "sous_genre"] = "reggaeton"

nodes_df = nodes_df.sort_values("genre", ascending=False)
nodes_df.index = range(len(nodes_df.index))
nodes_df.drop(['genres'], axis=1, inplace=True)

nodes_df

                     artist    genre  ... degree  sous_genre
0                        KK      pop  ...      4         pop
1           Louis Tomlinson      pop  ...      1         pop
2     Lisa "Left Eye" Lopes      pop  ...      1         pop
3                Little Mix      pop  ...      5   dance pop
4                     Lizzo      pop  ...      2   dance pop
...                     ...      ...  ...    ...         ...
1249           Metro Boomin  hip hop  ...      8     hip hop
1250             Method Man  hip hop  ...      7     hip hop
1251          Memphis Bleek  hip hop  ...      3     hip hop
1252        Cartel De Santa  hip hop  ...      2     hip hop
1253                   Adje  hip hop  ...      2     hip hop

[1254 rows x 5 columns]

In [11]:
artists.drop(['mode', 'key', 'new_genre', 'nb_artists_collab', 'list_artists_collab', 'genres'], axis=1, inplace=True)
# Median year column
def artist_in_collab(artist, collab):
    return artist in collab
def artist_in_collab_all(artist):
    return [artist_in_collab(artist, collab) for collab in list(songs['artists'])]
def median_year(artist):
    list_years = []
    for year, b in zip(list(songs['year']), artist_in_collab_all(artist)):
        if b == True:
            list_years.append(year)
    return int(np.median(list_years))
median_year = [median_year(artist) for artist in nodes]

artists['median_year'] = median_year
artists.index = range(len(artists.index))
# Artists dataframe
artists

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

             artists  acousticness  ...  count  median_year
0               Adje      0.007390  ...      2         2017
1              Alida      0.177000  ...      2         2020
2          Alkilados      0.195000  ...      1         2014
3       Andreas Moss      0.410000  ...      2         2016
4     Arrow Benjamin      0.010300  ...      2         2015
...              ...           ...  ...    ...          ...
1249       will.i.am      0.099131  ...     37         2010
1250            Ñejo      0.370250  ...      4         2012
1251  Ñejo & Dalmata      0.161250  ...      4         2009
1252      Ñengo Flow      0.155923  ...     13         2014
1253         オメガトライブ      0.299497  ...     30         2011

[1254 rows x 14 columns]

In [12]:
# Keeping collaborations from artists in the nodes only
def keep_collab(collab):
    return all([c in nodes for c in collab])
songs = songs[songs['artists'].apply(keep_collab)]
# Songs dataframe
songs.index = range(len(songs.index))
songs

      valence  year  acousticness  ... release_date  speechiness    tempo
0       0.919  2001       0.02190  ...   2001-12-04       0.0598   93.955
1       0.554  2001       0.27300  ...   2001-01-23       0.1510   83.460
2       0.679  2001       0.01260  ...   2001-10-30       0.3830   95.989
3       0.436  2002       0.10700  ...   2002-07-19       0.3220   99.931
4       0.681  2003       0.00249  ...   2003-06-24       0.2260   99.165
...       ...   ...           ...  ...          ...          ...      ...
1996    0.509  2020       0.17500  ...   2020-01-17       0.2060  171.983
1997    0.606  2020       0.33400  ...   2020-01-17       0.0491   92.122
1998    0.806  2020       0.25500  ...   2020-06-08       0.1140   89.983
1999    0.336  2020       0.17300  ...   2020-06-12       0.0717  155.908
2000    0.351  2020       0.02270  ...   2020-04-29       0.1570   86.036

[2001 rows x 16 columns]

In [14]:
# Export
nodes_df.to_csv("/content/drive/MyDrive/2021_Magistere/nodes.csv")
edges_df.to_csv("/content/drive/MyDrive/2021_Magistere/edges.csv")
artists.to_csv("/content/drive/MyDrive/2021_Magistere/artists.csv")
songs.to_csv("/content/drive/MyDrive/2021_Magistere/songs.csv")